@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");

/* General text styling */
body {
    font-family: 'Roboto', serif;
    text-align: justify;
    color:#000;
}

p {
   margin-bottom: 2rem;
   font-size:1.25rem;
}

h4 {
    margin-bottom: 0px;
}

.text-color {
    color:#fff;
}

/* Background images*/
.image-grapes {
    background-image: url("../images/grapes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-vineyard {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("../images/vineyard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*  Background images for buttons  */
.flag-italy {
    background-image: url("../images/italy-flag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flag-france {
    background-image: url("../images/france-flag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flag-spain {
    background-image: url("../images/spain-flag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Buttons styling */
.btn {
    min-height:80px;
    min-width:120px;
    margin-top:20px;
    margin-bottom:20px;
}